
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

#landingPage{
    font-family: "Arima", cursive;

    .introduction{
        .img{
            width: 100%;
            object-fit: cover;
        }
        .containerText{
            
            .title{
                color:#414756;
                font-weight: bold;
                text-shadow: 0px 1px 1px rgb(255, 255, 255);
            }
        }
    
        .containerImg{
            position: relative;
            .circular{
                content: '';
                position: absolute;
                top: 49.5%;
                left: 0%;
                transform: translate(-50%, 0%);
                width: 50px;
                height: 50px;
                background-color: rgb(169, 131, 226);
                border-radius: 50%;
                box-shadow: 0px 1px 2px rgb(107, 62, 62);
            }
        }
    
        .btnStart{
            outline: none;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            margin-top: 30px;
            border: 2px solid #5d5560;
            color: #504854;
            background-color: #b0a7b1;
            transition: 0.2s ease;
        }
    
        .btnStart:hover{
            background-color: #9562A9;
            border: 2px solid #9562A9;
            color: white;
          
        }
        
    }

    .famous{
        .paperQuantity{
            padding: 20px 40px;
            background-color: #d3d3d3;

            div{
                div{
                    color: rgb(15, 128, 215);
                    div{
                        font-size: 25px;
                        font-weight: 500;
                    }
                    span{

                    }
                }
            }
        }

        .img{
            width: 100%;
        }
    }

    .features{
        img{
            width: 100%;
            object-fit: cover;
        }

        .gridFeatures{
            div:nth-child(2){
                margin-top: 30px;
            }

            div:nth-child(3){
                margin-top: 60px;
            }

            div:nth-child(4){
                margin-top: 90px;
            }
        }
    }

    .submitQuestion{
        form{
            padding-right: 50px;
            div{
                input{
                    margin-top: 10px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    border: 2px solid rgba(107, 104, 103, 0.453);
                    background-color: rgb(247, 247, 247);
                    outline: none;
                }

                textarea{
                    margin-top: 20px;
                    min-height: 150px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: rgb(247, 247, 247);
                    border: 2px solid rgba(107, 104, 103, 0.453);
                    outline: none;
                }

                button{
                    padding: 10px 20px;
                    margin-top: 20px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    border: 2px solid #E14930;
                    background-color: #e0614e ;
                }
            }
        }
    }

    .contact{
        img{
            width: 100%;
            border-radius: 50%;
        }

        div{
            div{
                div{
                    margin-top: 10px;
                }
            }
        }
    }
    
}