#homePageContent{
    .MuiGrid-item{
        transition: transform 0.3s ease;
    }
    
    .MuiGrid-item:hover{
        
        transform: scale(1.03);
    }
    
    .card{
        width: 280px;
        cursor: pointer;
        box-shadow: 3px 3px 4px rgb(140, 164, 158);
        .cardHeader{
            position: relative;
            padding: 0px 30px;
            padding-top: 15px;
            height: 250px;
            color: white;
            
            >div{
                z-index: 1;
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                height: 250px;
                width: 100%;
            }
    
            .avatar{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50px;
                height: 50px;
                transform: translate(-30%, 40%);
                object-fit: cover;
                background-color: rgb(109, 211, 131);
                z-index: 1;
            }

            button{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    
        .expandBottom{  
            height: 120px;
            background-color: rgba(215, 255, 242, 0.529);
            >div{
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
                .text-limit {
                    max-width: 240px; /* Giới hạn chiều rộng tối đa */
                    overflow: hidden; /* Ẩn phần dư thừa */
                    text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) nếu vượt quá chiều rộng */
                    white-space: nowrap; /* Ngăn chặn xuống dòng */
                }

                img{
                    z-index: -1;
                }
            }
        }
        
    }
    
    .card:hover{
        box-shadow: 4px 4px 4px rgba(70, 176, 70, 0.7);
    }
    
    
    
    @media (max-width: 400px){
        .card{
            width: 220px;
            .expandBottom{
                height: 150px;
            }
        }
    }
}