@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

#header{
    font-family: 'Arima', cursive;
    
    .responsive{
        background-color: #72919c;
        color:rgb(255, 255, 255);
        backdrop-filter: blur(20px);
        height: 200px;
    }

    .responsive.hide{
        height: 0px;
    }

    .nav{
        transition: 0.2s ease;
    }

    .nav:hover{
        color:rgb(255, 187, 0);
    }
    
    @media (min-width: 890px) {
    
        .responsive{
            height: 0px;
        }
        
        
    }
}



#footer{
    font-family: 'Arima', cursive;
}


