@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

body{
    overflow: hidden;
}
#layout{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    #header{
        height: 90px;
        font-family: 'Arima', cursive;
    
        .nav{
            transition: 0.2s ease;
        }
    
        .nav:hover{
            color:rgb(255, 187, 0);
        }
        
        @media (min-width: 890px) {
        
            .responsive{
                height: 0px;
            }
            
            
        }
    }
    
    @media ( max-width: 599px ) {
        #header{
            height: 65px;
        }
    }
    
    #menuAndOutlet{
        flex-grow: 1;
        border-top: 2px solid rgb(199, 199, 199);
        border-bottom: 2px solid rgb(199, 199, 199);
        color: #466874;
        
        .grid1{
            border-right: 2px solid rgb(199, 199, 199);
            transition: width 0.5s ease;
            display: flex;
            width: 300px;
            height: 87.5vh;
            overflow: scroll;
            overflow-x: hidden;
            .containerPanel{
                border-top: 2px solid rgb(199, 199, 199);
            }
    
            .containerPanel:nth-child(4){
                border-bottom: 2px solid rgb(199, 199, 199);
            }
                
            .panel{
                margin-right: 20px;
                transition: 0.2s ease;
            }
    
            .highlight{
                background-color: #cadff6;
                border-radius: 0px 20px 20px 0px;
            }
    
            .link{
                width: 100%;
                text-decoration: none;
                color: #466874;
            }
        }
    
        .grid1.hide{
            width: 0px;
        }
    
        .grid2{
            position: relative;
            flex-grow: 1;
            height: 87.5vh;
            width: 60%;
            overflow: scroll;
            overflow-x: hidden;
        }
    }
    
    @media (max-width: 1000px){
        #menuAndOutlet{
            .grid1{
                    position: absolute;
                    height: 100%;
                    z-index: 10;
                }
    
            .grid1.hide{
                width: 0px;
            }
        }
        
    }
    
    #footer{
        
    }
    
    
    
}