.searchBar{
    margin-top: 2rem;
    background-color: #d9d9d992;
    width: 60vw;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    
    border: 2px solid #005B48;
    input{
        padding: 0px 20px;
        border-radius: 20px 0px 0px 20px;
        outline: none;
        border: none;
        width: 100%;
        background-color: #ffffffea;
    }
    .icon{
        color: rgb(14, 143, 46);
        width: 50px;
        height: 50px;
        border-radius: 0px 20px 20px 0px;
    }
}