.search{
    width: 70vw;
    display: flex;
    margin-top: 20px;
    >div:nth-child(1){
        
        >div{
            border-radius: 20px 0px 0px 20px;
            input{
                width: 70vw;
            }
        }
    }
    button{
        width: 56px;
        height: 56px;
        border-radius: 0px 20px 20px 0px;
        color: white;
        transition: 0.2s ease;
    }
    button:hover{
        width: 56px;
        height: 56px;
        background-color: rgb(68, 194, 152);
        border-radius: 0px 20px 20px 0px;
        color: white;
    }
}
